

html {
    height: 100%;

}

body {
    height: 100%;
}


.main{
  padding: 10px 5px 15px 20px;
  border: 5px green solid;
  margin: 5px 10px 20px 15px;
  display: inline-block;
  box-sizing: border-box;
}




body div:first-of-type {
   height: 300px;
   width: 50%;
   display: none;
}

body div:last-of-type:hover {
  color: white; 
  background: black; 
}